import type { {{pascalCase componentName}}Props } from "../model/types";

export const {{componentName}} = (props: {{pascalCase componentName}}Props) => {
    const { } = props;

    return (
        <div>
            {/* TODO: Implement {{componentName}} component */}
        </div>
    );
};
