@tailwind components;

:root {
    --duration-text: 8s;
    --duration-bg: 3s;
}

@layer components {
    .custom-bg-gradient,
    .light .custom-bg-gradient {
        @apply bg-gradient-to-tr from-color-primary to-blue-500;
        animation: gradient var(--duration-text) ease infinite;
        background-size: 400% 400%;
    }

    .bg-gradient-dark {
        @apply bg-gradient-to-l from-[#111] to-[#222] text-color-background-light;
        animation: gradient var(--duration-bg) ease infinite;
        background-size: 400% 400%;
    }

    @media (prefers-color-scheme: dark) {
        .custom-bg-gradient {
            @apply bg-gradient-to-l from-[#FD5A1E] to-yellow-400;
        }
    }

    .dark .custom-bg-gradient {
        @apply bg-gradient-to-l from-[#FD5A1E] to-yellow-400;
    }

    .text-highlight,
    .light .text-highlight {
        @apply bg-gradient-to-r from-color-primary to-blue-500 bg-clip-text text-transparent;
        animation: gradient var(--duration-text) ease infinite;
        background-size: 400% 400%;
        letter-spacing: -0.05em;
        line-height: 1.1 !important;
        overflow: visible;
        -webkit-background-clip: text;
    }

    .dark .text-highlight {
        @apply bg-gradient-to-r from-[#FD5A1E] to-yellow-400;
    }

    @media (prefers-color-scheme: dark) {
        .text-highlight {
            @apply bg-gradient-to-r from-[#FD5A1E] to-yellow-400;
        }
    }

    .work-preview h3 {
        letter-spacing: -0.05em;
        line-height: 1.1;
    }

    .work-preview:hover h3 {
        @apply text-highlight;
    }

    .wysiwyg blockquote a {
        @apply text-highlight;
    }
}
