* {
    box-sizing: border-box;
    scrollbar-color: var(--color-primary) var(--color-background);
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    cursor: pointer;
    height: theme("spacing.2");
    width: theme("spacing.2");
}

::-webkit-scrollbar-track {
    background: var(--color-background);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: theme("spacing.1");
}
