*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.icloud

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msp
*.msp
*.lnk

node_modules
.env
.env.local
.env.*.local

.cache
.wrangler
build
dist
public/build
.docusaurus
.tanstack

.turbo
.coverage
.results
test-results
playwright-report
playwright/.cache

*.log
*.trace
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
bun-debug.log*

testing/mocks/generated/**
!testing/mocks/generated/README.md

functions/[[path]].js
functions/[[path]].js.map

*.tsbuildinfo
*.tsbuildinfo.json
