*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.icloud

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msp
*.msp
*.lnk

node_modules
*.log
*.trace
.env
.env.local
.env.*.local

.cache
.turbo
.wrangler
.tanstack
build
apps/**/dist
public/build
functions/[[path]].js
functions/[[path]].js.map

.results
coverage
