@import "@portfolio/ui/tailwind.css";

:root {
	--sl-text-base: 13px;
	--sl-text-sm: 12px;
	--sl-text-xs: 11px;
	--sl-text-lg: 14px;
	--sl-text-xl: 15px;
	--sl-text-2xl: 16px;
	--sl-text-3xl: 18px;
	--sl-text-4xl: 20px;
	--sl-text-5xl: 24px;
}

html {
	font-size: 13px;
}

body {
	font-size: 13px;
}

h1 {
	font-size: 1.846rem;
}

h2 {
	font-size: 1.538rem;
}

h3 {
	font-size: 1.231rem;
}

h4 {
	font-size: 1.077rem;
}

h5,
h6 {
	font-size: 1rem;
}

code {
	font-size: 13px;
}

pre {
	font-size: 13px;
}

nav,
aside {
	font-size: 13px;
}

table {
	font-size: 13px;
}

button,
a {
	font-size: 13px;
}
